<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="HostUrl" value="http://192.168.1.115:1453 /" />
		<add key="WelcomeMessage" value="Hello" />
		<add key="PlayerName" value="mpg321" />
		<add key="PlayerParameters" value="-q" />
		<add key="MusicDirectory" value="/home/mario/Desktop/music/" />
	</appSettings>
</configuration>